@model Student
@{
    ViewBag.Title = "Student Access Level";
}
<h1>Student Objects and ID Route Number</h1>
<div>First: @Model.FirstName</div>
<div>Last: @Model.LastName</div>
<div>Grade: @Model.Grade</div>
<div></div>
